--- 
:rejects_file: rejects.csv
# iPhoto settings
:album_data: PATH_TO_YOUR_ALBUM_DATA
:excluded_keywords:
  - Movie
  - not uploaded
:excluded_media_types:
#  - Image
  - Movie
:excluded_image_types:
#  - BMPf
#  - GIFf
#  - JPEG
  - MooV
  - mpg4
#  - TIFF
  - VfW
# Gallery settings
:username: YOUR_USER
:password: YOUR_PASSWORD
:url: YOUR_FULL_GALLERY_URL
:parent_album: YOUR_PARENT_ALBUM
